p {
  color: crimson;
}

h1  {
  color: blue;
  border: 5px solid black;
}

p, h1, h2, h3, h4, ul {
  font-family: 'Roboto', sans-serif;
  text-align: center
}

html {
  background-color: #3FBFBF;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  height: 75%;
  width: 75%;
  display: block;
  margin: 0 auto;
}

